.item {
    display: flex;
    margin: 10px 0;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    text-align: center;
    font-weight: bold;
}

.desc {
    font-size: 32px;
    margin-bottom: 12px;
    color: #fff;
}

.time {
    color: #94989F;
}
.delete{
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}
.delete:hover{
    opacity: .8;
    transform: rotate(1turn);
}
