.logsform {
    margin-bottom: 16px;
    background-color: #262D3D;
    border: 2px solid #25A5E9;
    padding: 12px;
    color: #fff;
    font-weight: 800;
}
.inputItem{
    line-height: 28px;
    height: 28px;
    display: flex;
    margin-bottom: 16px;
    gap:4px;
}
.inputItem input {
    flex: auto;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    background: #585e6a43;
    color: white;
}

.formBtn{
    text-align: center;
}

.formBtn button{
    border: none; 
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: #262D3D;
    font-weight: 800;
    color: #fff;
}

.formBtn button:hover{
    cursor: pointer;
    color: #e4e4e4;
}